html {
  box-sizing: border-box;
  width: 100%;
}
body {
  font-size: 15px;
  font-family: DynaPuff;
  min-width: 320px;
}
.home {
  position: relative;
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
  &__wrapper {
    padding: 27px 16px 0px 16px;
    box-sizing: border-box;
  }
  &__header {
    top: 0px;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  &__menu {
    display: none;
  }
  &__burgerMenu {
    border-radius: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
  }
  &__text {
    padding: 329px 0px 150px 0px;
    color: #fff;
    font-size: 3.2em;
    font-weight: 700;
    width: min-content;
  }
}

.meet {
  position: relative;
  background: #202020;
  color: #fff;
  &__wrapper {
    padding: 0px 16px 0px 16px;
  }
  &__title {
    color: #faeb49;
    font-size: 2.4em;
    font-weight: 700;
    padding-top: 72px;
    line-height: 40px;
    display: flex;
    // flex-direction: column;
  }
  &__text {
    color: #fff;
    font-family: Manrope;
    font-size: 1em;
    font-weight: 500;
    padding-top: 40px;
    padding-right: 30px;
    line-height: 20px;
    max-width: 524px;
  }
  &__stats {
    padding-top: 40px;
    display: flex;
    gap: 42px;
    padding-bottom: 76px;
    color: #fff;
  }
  &__items {
    display: flex;
    width: min-content;
    flex-direction: column;
    gap: 5px;
    font-size: 3.2em;
    font-weight: 700;
  }
  &__items-font {
    font-size: 16px;
    font-family: Manrope;
  }
}
.cards {
  background: #3c3c3c;
  &__wrapper {
    padding: 0px 16px 0px 16px;
  }
  &__list {
    // box-sizing: border-box;
    display: grid;
    padding: 52px 0px 85px;
    gap: 75px;
    grid-template-columns: 1fr;
  }
  &__item {
    border-radius: 24px;
    background: #fffef2;
    padding: 15px;
    position: relative;
    a {
      text-decoration: none;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
  }
  &__img {
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    object-fit: cover;
    height: 278px;
    &:nth-child(3) {
      height: 363px;
    }
  }
  &__title {
    color: #565656;
    font-size: 1.5em;
    font-weight: 700;
    padding: 21px 0px;
  }
  &__text {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.9375em;
    color: #565656;
    font-size: 1em;
  }
  &__arrow {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: white;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    svg {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
}

.graphics {
  background: #202020;
  &__wrapper {
    padding: 58px 16px 93px 16px;
  }
  &__title {
    color: #fff;
    font-size: 2.25em;
    font-weight: 700;
    padding-bottom: 25px;
  }
  &__list {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    gap: 32px;
    grid-template-columns: 1fr;
  }
  &__item {
    box-sizing: border-box;
    position: relative;
  }
  &__img {
    border-radius: 20px;
    box-sizing: border-box;
    object-fit: cover;
    filter: grayscale(1);
    width: 100%;
    height: 325px;
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 172px;
    height: 172px;
    transform: translate(-50%, -50%);
  }
}
.quote {
  background: url("../img/Frame_17_1\(6\).jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  padding: 180px 0px;
  &__wrapper {
    padding: 0px 16px;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__text {
    color: #fff;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
  }
}

.footer {
  background: #202020;
  padding-top: 53px;
  &__svg {
    width: 53px;
    height: 52px;
  }
  &__button {
    border: 1px solid #fff;
    display: flex;
    border-radius: 139px;
    text-decoration: none;
    color: #fff;
    padding: 10px 0px 10px 34px;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 342px;
  }
  &__button-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
  }
  &__text {
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 0.9375em;
    font-weight: 500;
    gap: 25px;
    font-size: 15px;
    font-weight: 500;
  }
  &__social {
    display: flex;
    flex-direction: row;
    padding-top: 145px;
    justify-content: center;
    gap: 34px;
  }
  &__subtext {
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 1em;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    &__text {
      font-size: 5em;
    }
  }
  .meet {
    &__title {
      font-size: 3.2em;
    }
    &__text {
      font-size: 1.1em;
    }
    &__stats {
      gap: 90px;
    }
    &__items {
      width: max-content;
    }
  }
  .cards {
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 40px;
      row-gap: 100px;
    }

    &__item {
      &:nth-child(2) {
        display: block;
      }
      &:nth-child(1) {
        grid-column: 1 /3;
      }
    }
    &__title {
      font-size: 2em;
    }
    &__img {
      height: 448px;
      &:nth-child(1) {
        height: 498px;
      }
    }
    &__text {
      font-size: 1.1em;
    }
  }
  .graphics {
    &__title {
      font-size: 5.3em;
    }
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 30px;
      padding-bottom: 130px;
    }
    &__item {
      &:nth-child(1) {
        grid-column: 1 /3;
      }
    }
    &__img {
      height: 325px;
      &:nth-child(1) {
        height: 414px;
      }
    }
  }
  .quote {
    padding-bottom: 295px;
    &__text {
      font-size: 3.2em;
    }
  }
  .footer {
    &__button {
      max-width: 714px;
      gap: 45px;
      padding: 15px 0px 15px 34px;
    }
    &__svg {
      width: 108px;
      height: 108px;
    }
    &__title {
      font-size: 3.2em;
    }
    &__text {
      font-size: 1.5em;
    }
    &__button-display {
      padding: 10px;
    }
    &__social {
      padding-top: 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .active {
    background: #333;
    position: fixed;
    padding: 18px 191px 18px 192px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  .home {
    &__wrapper {
      padding: 40px 191px;
    }

    &__burgerMenu {
      display: none;
    }
  }
  .menu {
    display: flex;
    gap: 20px;
    &__item {
      display: flex;
      flex-direction: row;
      border-radius: 20px;
      border: 1px solid #fff;
      padding: 10px 16px;
      gap: 12px;
      color: #fff;
      font-family: Manrope;
      font-size: 1em;
      font-weight: 700;
    }
  }
  .meet {
    &__wrapper {
      padding: 0px 191px 0px 191px;
    }
  }
  .cards {
    &__wrapper {
      padding: 0px 191px 0px 191px;
    }
    &__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      box-sizing: border-box;
    }
    &__item {
      &:nth-child(1) {
        grid-column: 1/4;
      }
      &:nth-child(4) {
        display: block;
      }
    }
  }
  .graphics {
    &__wrapper {
      padding: 82px 191px 0px 191px;
    }
  }
  .quote {
    &__wrapper {
      padding: 0px 191px;
    }
  }
  .footer {
    &__button {
      padding: 42px 167px;
    }
    &__social {
      padding-top: 168px;
    }
  }
}
